::-webkit-scrollbar {
  background-color: transparent;
  width: 7px;
  height: 7px;
}
::-webkit-scrollbar-thumb {
  background-color: #ddd;
  border-radius: 100px;
}

.btn-primary {
  background-color: #222;
  border-color: #222;
  border-radius: 8px;
}

.btn-primary:hover {
  background-color: white;
  border-color: #222;
  color: #222;
}

.btn-outline-primary {
  color: #222;
  border-color: #222;
  border-radius: 8px;
  height: 44px;
  font-weight: 500;
}

.btn-outline-primary:hover {
  background-color: #222;
  border-color: #222;
  color: white;
}

.btn-outline-secondary {
  background: #fff;
  border-radius: 8px;
}

.btn-outline-secondary i {
  margin-right: 10px
}

.back-link {
  display: inline-flex;
  align-items: center;
  color: #555;
  text-decoration: none;
  font-weight: 500;
}

.back-link:hover {
  color: #333;
}

.back-link i {
  margin-right: 8px;
}

.edit-btn {
  color: #555;
  cursor: pointer;
}

.edit-btn:hover {
  color: #0d6efd;
  transform: scale(1.1);
}

.delete-btn {
  width: 24px;
  height: 24px;
  border-radius: 8px;
  background: transparent;
  border: none;
  color: #555;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.delete-btn:hover {
  color: #ff4d4f;
  transform: scale(1.1);
}

.edit-btn-mobile, 
.delete-btn-mobile {
  display: none;
  border: none;
  text-decoration: none;
  background-color: transparent;
  color: #666;
}

.delete-btn-mobile {
  color:#ff4d4f
}
.checkItem {
  align-content: center;
  user-select: none;
  padding: 0 0.75rem;
}
/* Styles for drag and drop functionality */
.dragItem {
  align-content: center;
  user-select: none;
}

.dragItem span {
  color: #b4b4b4;
  cursor: grab;
}

.dragItem span:hover {
  color: #666;
  cursor: grab;
  transform: scale(1.1);
  transition: all 0.2s ease;
}

.dragItem span:active {
  cursor: grabbing;
}

.sortable-ghost {
  opacity: 0.4;
  background-color: #f0f0f0;
}

.sortable-chosen {
  background-color: #f9f9f9;
}

.sortable-drag {
  background-color: #ffffff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    
}

@media (max-width: 767.98px) {
    
    .switch-container{
        display: flex;
        justify-content: space-between;
        margin-bottom: 24px;
    }

    .edit-btn {
        display: none;
    }

}