/* Estilos para el sidebar en mobile */
.offcanvas {
  border-radius: 0;
  border-left: 1px solid #eee;
}

.offcanvas-header {
  border-bottom: 1px solid #eee;
  padding: 1rem;
}

.offcanvas-body {
  padding: 1rem;
  position: relative;
}

.offcanvas-footer {
  padding: 1rem;
  border-top: 1px solid #eee;
}

/* Estilos para el sidebar anidado */
.nested-sidebar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 1050;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
}

.nested-sidebar.show {
  transform: translateX(0);
}

.nested-sidebar-header {
  display: flex;
  align-items: center;
  padding: 1rem;
  border-bottom: 1px solid #eee;
}

.nested-sidebar-header h5 {
  margin: 0;
  font-size: 1rem;
  font-weight: 600;
}

.btn-back {
  background: none;
  border: none;
  color: #555;
  margin-right: 0.5rem;
  padding: 0.25rem;
  cursor: pointer;
}

.nested-sidebar-body {
  flex: 1;
  padding: 1rem;
  overflow-y: auto;
}

.nested-sidebar-footer {
  padding: 1rem;
  border-top: 1px solid #eee;
}

.saved-quantities {
  display: none;
  flex-direction: column;
  gap: 15px;
  margin-top: 15px;
}

.quantities-card {
  position: relative;
  background-color: #f9f9f9;
  border: 1px solid #e1e1e1;
  border-radius: 4px;
  padding: 15px;
  cursor: pointer;
  transition: border-color 0.2s;
  font-size: 14px;
  line-height: 1.8;
}

.quantities-card div:first-child {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 8px;
}

.action-buttons {
  display: flex;
  justify-content:space-evenly;
  align-items: center;
  gap: 1rem;
  padding-top: 0.5rem;
  margin-top: 0.7rem;
  border-top: 1px solid #eee;
  font-size: 16px;
}